# Application
node_modules
build

## vim

.*.sw[a-z]
*.un~
Session.vim

## OS X

.DS_Store
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# FUSE
.fuse_hidden*

# Recycle Bin used on file shares
$RECYCLE.BIN/
